@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
.btn {
  width: 220px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s all;
  outline: 0;
}
.btn_white {
  background-color: #fff;
}
.btn_dark {
  background-color: #303030;
  color: #fff;
  border: none;
}
.btn_min {
  height: 50px;
}
.btn:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.divider {
  width: 330px;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.title {
  font-size: 36px;
  font-weight: 400;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 100px;
}
.header__left-block {
  display: flex;
  justify-content: space-between;
  min-width: 550px;
}
.header__logo {
  max-width: 170px;
}
.header__logo img {
  width: 100%;
}
.header__links {
  display: flex;
  align-items: center;
}
.header__link {
  position: relative;
  margin-right: 45px;
  font-weight: 700;
  font-size: 18px;
  color: #303030;
}
.header__link:after {
  content: "";
  position: absolute;
  display: block;
  width: 110%;
  left: -5%;
  bottom: -1px;
  z-index: -1;
  height: 8px;
  background: #54ed39;
}
.header__link:last-child {
  margin-right: 0;
}
.timer_module {
  padding-bottom: 80px;
}
.timer_module .title {
  text-align: center;
}
.timer_module__form {
  margin-top: 70px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timer_module__form img {
  transform: scale(1.5);
}
.timer_module__input {
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0;
}
.timer_module {
  padding: 70px 0 240px 0;
  position: relative;
}
.timer_module .container {
  display: flex;
}
.timer_module .bgc_y {
  position: absolute;
  width: 50%;
  height: 499px;
  background: rgba(243, 255, 222, 0.35);
  z-index: -1;
  top: -50px;
  left: 0;
}
.timer_module__text {
  width: 50%;
}
.timer_module__descr {
  margin-top: 40px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}
.timer_module__descr span {
  font-weight: 700;
  font-size: 26px;
}
.timer_module__timer {
  width: 50%;
}
.timer_module__timer .title {
  text-align: right;
}
.timer_module__timer .timer {
  margin-top: 60px;
  padding-left: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timer_module__timer .timer__block {
  width: 102px;
  height: 120px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.timer_module__timer .timer__block span {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 56px;
  font-weight: 700;
}
